In [1]:
import pandas as pd
from neuralprophet import NeuralProphet

In [2]:
df = pd.read_csv("../example_data/wp_log_peyton_manning.csv")
df.head()

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [5]:
m = NeuralProphet()
metrics = m.fit(df, freq="D")
metrics.tail()

INFO: nprophet.utils - set_auto_seasonalities: Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO: nprophet - _auto_learning_rate: model_complexity 4.189654742026425
Epoch[40/40]: 100%|██████████| 40/40 [00:02<00:00, 17.51it/s, SmoothL1Loss=0.00739, MAE=0.443, RegLoss=0]

    SmoothL1Loss       MAE  RegLoss
35      0.006827  0.421762      0.0
36      0.006723  0.414351      0.0
37      0.007077  0.429549      0.0
38      0.006946  0.424962      0.0
39      0.007388  0.442846      0.0

In [8]:
future = m.make_future_dataframe(df, future_periods=365)
future.tail()

            ds     y         t y_scaled
360 2017-01-15  None  1.121836      NaN
361 2017-01-16  None  1.122173      NaN
362 2017-01-17  None  1.122511      NaN
363 2017-01-18  None  1.122848      NaN
364 2017-01-19  None  1.123186      NaN